<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
  <style>
    body {
      background-color: #f0f0f0;
    }

    #intro {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 48px;
      text-align: center;
    }
  </style>
</head>

<body>
  <h1 id="intro">
    fummicc1's blog
  </h1>

  <div class="blogs">
    {{ range $blog := .blogs }}
    {{ $blog.Title }}
    {{ end }}
  </div>
</body>

</html>